<form action="/named-cat" method="post">
  <label for="name">Cat Name</label>
  <br>
  <input type="text" id="name" name="cat_name">
  <br><br>
  <label for="cute">Is the cat cute?</label>
  <br>
  <input type="text" id="cute" name="cute">
  <br><br>
  <input type="submit" value="Submit">
</form>
