<h1>Battle Game!</h1>
<h2>Enter your names to begin</h2><br>
<form action="/names" method="post">
  <label for="p1">Player 1 Name:</label><br>
  <input type="text" id="p1" name="player1"> <br><br>
  <label for="p2">Player 2 Name:</label><br>
  <input type="text" id="p2" name="player2"><br><br><br>
  <input type ="submit" value="Submit Player Names">
</form>
